<!doctype html>
<title>jQuery Example</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/additional-methods.js"></script>

<script type="text/javascript" src="//code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">

<link href="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.8/theme-default.min.css" rel="stylesheet" type="text/css" />
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.43/jquery.form-validator.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='spacelabbs.css') }}">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js" crossorigin="anonymous"></script>

<script>
    var countUpTimer;
    var countUp_number = -10;
    var deferred = $.Deferred();
    var promise = deferred.promise();

    $(document).ready(function() {
        $("#progressbar").progressbar();
        $("#progressbar").css({
            'background': 'LightYellow'
        });
        $("#progressbar > div").css({
            'background': 'Orange'
        });

        $("#fail").click(function() {
            deferred.reject();
        });

        function result() {
            alert("Done!");
        }

        function failed() {
            $("#progressbar").css({
                'background': 'red'
            });
        }

        function inProgress() {
            $("#progressbar").progressbar({
                value: countUp_number
            });
            $("#progressbar > span").html(countUp_number + "%");
        }

        function countUp() {
            if (countUp_number < 100) {
                countUp_number += 10;
                deferred.notify();
                countUpTimer = setTimeout(countUp, 500);
            } else {
                deferred.resolve();
            }
        }

        promise.done(result);
        promise.fail(failed);
        promise.progress(inProgress);

        countUp();
    });
</script>
<!--

<script type="text/javascript">
    var $SCRIPT_ROOT = {
        {
            request.script_root | tojson | safe
        }
    };
</script>-->
<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
                    <li><a href="../navbar-static-top/">Static top</a></li>
                    <li><a href="../navbar-fixed-top/">Fixed top</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>
    <li><a href="/index2">index2</a>
        <div id="progressbar" style="margin: 0px 0px 16px 0px;"><span style="position: absolute;text-align: center;margin: 5px 0 0 45%;"></span>

        </div>
        <center>
            <input id="fail" type="button" value=" Fail Now " />
        </center>
        <div class="row">
        
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            
       
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">User Information</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal well test-form">
                    <div class="form-group">
                        <label class="control-label">E-mail</label>
                        <input class="form-control"  name="email" type="email" data-validation="email">
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label">User name</label>
                         <input class="form-control" name="email" type="text" data-validation="alphanumeric length" data-validation-length="3-12" data-validation-error-msg="The user name has to be an alphanumeric value between 3-12 characters">
                    </div>
                 
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input class="form-control" type="password" name="pass_confirmation" data-validation="strength" data-validation-strength="2">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Repeat password</label>
                        <input class="form-control"  type="password" name="pass" data-validation="confirmation">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Birth date</label>
                        <input class="form-control" data-validation="birthdate" type="text" data-validation-help="yyyy-mm-dd">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Country</label>
                        <input class="form-control" name="country" type="text" data-validation="country">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Profile image</label>
                        <input class="control-label" type="file" data-validation="size mime required" data-validation-allowing="jpg, png" data-validation-max-size="300kb" data-validation-error-msg-required="No image selected" />
                    </div>
                    <div class="form-group">
                        <label class="control-label"> User presentation </label>

                        <div class="controls">
                            <span class="max-chars" style="background: #EEE; color: #999">100</span> chars left<br/>
                            <textarea class="form-control length-restricted"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">  </label>
                        <input type="checkbox" name="check" value="1" data-validation="required" data-validation-error-msg="You have to agree to our terms" style="vertical-align: 1px; margin-right: 3px"> I agree to the <strong>terms of service</strong>
                    </div>
                    <div class="form-group">
                            <button type="submit" class="btn btn-info">Validate</button>
                            <input  class="btn btn-info" type="reset" value="Reset form" />
                     </div>
                </form>
            </div>
        </div>
        </div>
        </div>
        <script>
            $.validate({
                modules: 'location, date, security, file',
                onModulesLoaded: function() {
                    $('#country').suggestCountry();
                }
            });

            // Restrict presentation length
            $('#presentation').restrictLength($('#pres-max-length'));
        </script>
        {% block body %} {% endblock %}
</div>